<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
   xmlns:rim="http://www.blackberry.com/ns/widgets" 
   version="1.0.0.0" rim:header="WebWorks Sample">

   <name>Skyrim Potion Optimizer</name>
   <description>
      An easy to use app to help Skyrim players to make better potions.  The tool 
      helps find compatible ingredients and effects, and easily permits filtering of 
      potential potions on various criteria.
   </description>
   <content src="index.html"/>

   <icon src="images/spot.png" />
   <rim:loadingScreen backgroundColor="#242016"
         backgroundImage="images/background.png"
          onFirstLaunch="true"
          onRemotePageLoad="true">
       <rim:transitionEffect type="fadeIn" direction="left" />
   </rim:loadingScreen>

   <rim:category name="games"/>
   <rim:cache disableAllCache="true" />

   <author href="mailto:suggestions@sammyo.com" rim:copyright="Copyright 2012 Samuel Oosterhuis">Samuel Oosterhuis</author>

  <license>
    Copyright (c) 2012 Samuel Oosterhuis (coder@sammyo.com)
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
    BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
    ACTION OF CONTRACT, INSULT OR OTHERWISE, ARISING FROM, OUT OF OR IN
    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
  </license>
</widget>
