body { 
   padding-top: 60px; 
   background-color:#242016;
   color:#A4A096;
} 

h1 {
   color:#AAA8A0;
}

h2 {
   color:#AAA8A0;
}

h3 {
   color:#B8B0AA;
}

div.tools > p {
   margin: 5px 5px 5px 10px;
}

span {
   width: 190px;
   padding: 2px 4px 3px;
   display: block;
}

div.smaller {
   font-size: 80%;
   padding: 1px 1px 1px 6px;
}


div.tools {
   margin: 5px;
}

#all-lists {
	position: absolute;
	top: 0px;
	bottom: 3px;
	left: 3px;
	right: 15px;
	margin-top: 40px;
}

.span3 {
   height: 95%;
}

div.big-list {
   margin: 0 auto;
   display: block;
   overflow-x:hidden;
   overflow-y:scroll;
   height: 95%;

   cursor: cell;
}

div.searcher {
   width: 100%;
   display: block;
}

.modal {display:none;}

#customName {
   margin: 5px;
}

